<div class="accordion" id="accordionFAQs">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q1" aria-expanded="true" aria-controls="q1">How do i signup for SimpleApp?</button>
		</h2>
		<div id="q1" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div class="accordion-body">From your web browser, you can sign up at:<br />https://simpleapp.com/#sign-up</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q2" aria-expanded="true" aria-controls="q2">How do i cancel my subscription?</button>
		</h2>
		<div id="q2" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div class="accordion-body">You can cancel your subscription on the My Account page located in the upper right hand menu.</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q3" aria-expanded="true" aria-controls="q3">How do I update my credit card?</button>
		</h2>
		<div id="q3" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div class="accordion-body">You can update your credit card on the My Account page. If you are unable to update your card, we recommend that you update it from your laptop computer.</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q4" aria-expanded="true" aria-controls="q4">How do i switch to the annual subscription?</button>
		</h2>
		<div id="q4" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div class="accordion-body">You can upgrade your subscription on the My Account page.</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q5" aria-expanded="true" aria-controls="q5">Why is the Gift SimpleApp feature not working for me?</button>
		</h2>
		<div id="q5" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div class="accordion-body">Our gift feature only works for customers who have an active credit card on file. If you do
				not have an active card on file, you can add one by updating your payment information on the My Account
				page.</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q6" aria-expanded="true" aria-controls="q6">How do i see the latest updates?</button>
		</h2>
		<div id="q6" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div class="accordion-body">To see our latest updates, you must click on the "Refresh" link located in the upper right
				hand menu.</div>
		</div>
	</div>
</div>