<div class="accordion" id="accordionFAQs">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q1" aria-expanded="true" aria-controls="q1">How do i signup for SimpleApp?</button>
		</h2>
		<div id="q1" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div class="accordion-body">From your web browser, you can sign up at:<br />https://simpleapp.com/#sign-up</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q2" aria-expanded="true" aria-controls="q2">Why are my login credentials not working?</button>
		</h2>
		<div id="q2" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div className="accordion-body">
				<p>Click on the Forgot Password link and reset your password</p>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q3" aria-expanded="true" aria-controls="q3">How do i cancel my subscription?</button>
		</h2>
		<div id="q3" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div class="accordion-body">You can cancel your subscription on the My Account page located in the upper right hand menu.</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q4" aria-expanded="true" aria-controls="q4">How do I update my credit card?</button>
		</h2>
		<div id="q4" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div class="accordion-body">You can update your credit card on the My Account page. If you are unable to update your card, we recommend that you update it from your laptop computer.</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q7" aria-expanded="true" aria-controls="q7">How do i switch to the annual subscription?</button>
		</h2>
		<div id="q7" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div class="accordion-body">You can upgrade your subscription on the My Account page.</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q8" aria-expanded="true" aria-controls="q8">Why is the Gift SimpleApp feature not working for me?</button>
		</h2>
		<div id="q8" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div class="accordion-body">Our gift feature only works for customers who have an active credit card on file. If you do not have an active card on file, you can add one by updating your payment information on the My Account page.</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q9" aria-expanded="true" aria-controls="q9">How do i see the latest updates?</button>
		</h2>
		<div id="q9" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div class="accordion-body">To see our latest updates, you must click on the "Refresh" link located in the upper right hand menu.</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q10" aria-expanded="true" aria-controls="q10">How do i get member email addresses, phone numbers and/or mailing address in my exported reports?</button>
		</h2>
		<div id="q10" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div class="accordion-body">
				<p>Since we are unable to store PII (Personally Identifiable Information), we have a work around located here:<br />https://simpleapp.com/#append-phone-numbers</p>
				<p class="small"><strong>Note: </strong> You must use a modern web browser to use this feature.</p>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q11" aria-expanded="true" aria-controls="q11">Why are some members highlighted?</button>
		</h2>
		<div id="q11" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div class="accordion-body">We have recently updated our reports to highlight your personally enrolled in each report as a way for you to easily find them when you scroll through them. You can also sort by your personally enrolled by using the new "Settings" feature in the upper right hand menu.</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q12" aria-expanded="true" aria-controls="q12">Can I view my reports from my desktop?</button>
		</h2>
		<div id="q12" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
			<div class="accordion-body">Yes! In fact, our desktop version displays additional information that we are unable to display on mobile devices.</div>
		</div>
	</div>
</div>
