<div class="col-12 col-sm-10 offset-sm-1">
	<div class="login-form">
		<div class="logo">
			<img src="assets/img/app_icon.png" />
			<span class="simple">Simple</span><span class="app">App</span>
		</div>

		<div class="error mb-3 hidden"></div>

		<form>
			<div class="mb-3">
				<label for="email" class="form-label">Email Address</label>
				<input type="email" class="form-control form-control-lg" id="email" name="email" autocomplete="off" value="test@email.com" />
			</div>

			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Password</label>
				<input type="password" class="form-control form-control-lg" id="password" autocomplete="off" password="" value="adkeidkdSS12" />
			</div>

			<button type="button" class="btn btn-primary login">Login</button>
		</form>
	</div>
</div>